<!-- con el data-header-color vamos a utilizar una tecnología llamada, interceptios of serve en el script creado en la landingHeader -->
<section class="landing-section relative w-screen h-screen overflow-hidden text-center bg-black"
    data-header-color="black"
>

    <div class="relative z-30 flex flex-col h-full">
        <header class="">
            <h2 class="text-black text-[40px] font-medium
            pt-40">Model Y</h2>
            <p class="text-sm text-black underline">
                Concertar una prueba de conducción
            </p>
        </header>

        <footer class="flex flex-col justify-end flex-grow pb-20">
            <div class="flex mx-auto gap-x-4">
                <a class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-white transition-colors bg-gray-600 rounded hover:bg-black hover:text-white" href="/">
                    Explorar inventario
                </a>
                <a class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-black hover:text-white" href="/">
                    Pedido personalizado
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full">
        <img src="/model-y.avif" alt="Model Y" class="object-cover object-center w-full f-full">
    </div>
</section>