<section class="landing-section relative w-screen h-screen text-center bg-black"
    data-header-color="white"
>

    <div class="relative z-30 flex flex-col h-full">
        <header class="" id="landingHeader">
            <h2 class="text-white text-[40px] font-medium
            pt-40">Disfrute de Tesla</h2>
            <p class="text-sm text-white">
                Programe una prueba de conducción hoy mismo
            </p>
        </header>

        <footer class="flex flex-col justify-end flex-grow pb-20">
            <div>
                <a class="border-[3px] border-white rounded px-12 py-2 text-sm font-medium text-white inline-block bg-white/5 backdrop-blur-sm hover:bg-white hover:text-black transition-colors" href="/">
                    Prueba de conducción
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full">
        <video class="object-cover object-center w-full h-full" autoplay muted loop src="/videoTesla.webm"></video>
    </div>
</section>